@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// @import 'glide.core.min';

// @import 'glide.theme.min';

// /* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
// ;

// body {
//   background: $primary-background;
// }

/* UTILITY */

:root {
  --white: #FFF;
  --black: #000000;
  --mediumgray: #828282;
  --darkgray: #222222;
  --pink: #FFC0CB;
}

body {
  background: var(--darkgray);
  color: var(--darkgray);
  font-family: Arial;
  margin: 0;
  padding: 0;
}

/* NAVBAR */

.navbar {
  background: var(--pink);
  color: var(--darkgray);
  // display: flex;
  flex-direction: column;
  height: 15rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

.navbar-links {
  border: 0;
  font-size: 1.1rem;
  background: var(--pink);
}

.navbar-links-section {
  // display: flex;
  // flex-direction: row;
  // font-size: 0.6rem;
}

/* DASHBOARD */

h3 {
  color: var(--white);
  font-size: 2.5rem;
  margin: 1.9rem 0 1rem 0;
  padding: 0 0 0 1.3rem;
  text-align: center;
}

.dashboard {
  color: white;
  text-align: center;
}

.card-container {
  // display: grid;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem;
  color: var(--darkgray);
  display: flex;
  text-align: center;
}

.card {
  background: var(--white);
  border: 1px var(--mediumgray) solid;
  margin: 0.3rem;
  width: 20rem;
  color: var(--darkgray);
}

/* card photo */

.destination-info-container {
  max-width: 20rem;
  padding: 1rem;
}

.destination-photo {
  margin: 0;
  width: 20rem;
}

.photo-container {
  position: relative;
}

/* card text */

.destination-name {
  margin: 0;
  font-size: 1.2rem;
}

.date-time {
  color: var(--darkgray);
  font-size: 0.9rem;
  margin: 0;
}

// LET'S JET PAGE

.lets-jet-btn {
  float: right;
  margin-bottom: 0.4rem;
}

// HELPERS

.hidden {
  display: none;
}

.flexible {
  display: flex;
  flex-wrap: wrap;
}

/* MEDIA QUERY */

@media only screen and (min-width: 680px) {

  .card-container {
    display: flex;
  }

  .navbar {
    display: flex;
    margin: 0;
  }

  .navbar-links-section {
    display: flex;
    margin: 5rem 0 0 1.3rem;
  }

  .navbar {
    height: 11rem;
  }
}