@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// @import 'glide.core.min';

// @import 'glide.theme.min';

// /* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
// ;

// body {
//   background: $primary-background;
// }

/* UTILITY */

:root {
  --white: #FFF;
  --black: #000000;
  --mediumgray: #828282;
  --darkgray: #222222;
  --pink: #FFC0CB;
}

body {
  background: var(--darkgray);
  color: var(--darkgray);
  font-family: Arial;
  margin: 0;
  padding: 0;
}

/* NAVBAR */

.navbar {
  background: var(--pink);
  color: var(--darkgray);
  display: flex;
  flex-direction: column;
  height: 12rem;
  text-align: center;
  margin: 0 0 2rem 0;
}

h1 {
  font-size: 3.5rem;
  margin: 1.5rem 0 0 0;
}

.name-phrase {
  font-size: 1.1rem;
}

.navbar-buttons {
  border: 0;
  font-size: 1.1rem;
  background: var(--white);
  border-radius: 1rem;
  margin: 0 0.4rem 0 0.4rem;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
}

/* DASHBOARD */

h3 {
  color: var(--white);
  font-size: 2.5rem;
  margin: 1.9rem 0 1rem 0;
  padding: 0 0 0 1.3rem;
  text-align: center;
}

.dashboard {
  color: white;
  text-align: center;
}

.card {
  background: var(--white);
  border: 1px var(--mediumgray) solid;
  margin: 0.3rem;
  width: 20rem;
  color: var(--darkgray);
  border-radius: 0.2rem;
  text-align: center;
}

/* card photo */

.destination-info-container {
  max-width: 20rem;
  padding: 1rem;
}

.destination-photo {
  margin: 0;
  width: 20rem;
}

.photo-container {
  position: relative;
}

/* card text */

.destination-name {
  margin: 0;
  font-size: 1.2rem;
}

.date-time {
  color: var(--darkgray);
  font-size: 0.9rem;
  margin: 0;
}

// LET'S JET PAGE

.lets-jet-btn {
  margin-bottom: 0.4rem;
}

// FORMS

input,
.dropdown {
  border: 1px solid var(--mediumgray);
  background: --white;
  border-radius: 1rem;
  margin: 0 0.4rem 0 0.4rem;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
  font-family: Arial;  
}

input {
  font-size: 1.1rem;
  width: 15rem;
}

.dropdown {
  font-size: 0.8rem;
  width: 16.1rem;
  height: 2rem;
}

.login-form {
  padding-top: 3.7rem;
}


.submit-btn {
  border: 0;
  font-size: 1.1rem;
  background: var(--pink);
  border-radius: 1rem;
  margin: 0 0.4rem 0 0.4rem;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
}

// HELPERS

.hidden {
  display: none;
}

.flexible {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}