h2 {
  color: $white;
  font-size: 2.5rem;
  margin: 1.9rem 0 1rem 0;
  text-align: center;
}

.dashboard {
  color: white;
  text-align: center;
}

.card {
  background: $white;
  border: 1px $medium-gray solid;
  margin: 0.3rem;
  width: 20rem;
  color: $dark-gray;
  border-radius: 0.2rem;
  text-align: center;
}

.destination-photo {
  margin: 0;
  width: 20rem;
}

.destination-info-container {
  max-width: 20rem;
  padding: 1rem;
}

.date-time {
  color: $dark-gray;
  font-size: 0.9rem;
  margin: 0;
}

.destination-name {
  margin: 0;
  font-size: 1.2rem;
  color: $dark-gray;
}
